footer {
  color: white;
  display: flex;
  justify-content: center;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
  height: 50px;
  background-color: #4369ff;
  font-size: larger;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
